{{ form_start(form) }}
    {{ form_row(form._token) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {% if form_errors(form.title) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form.title) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {% if form_errors(form.description) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form.description) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.start_date) }}
        {{ form_widget(form.start_date) }}
        {% if form_errors(form.start_date) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form.start_date) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.end_date) }}
        {{ form_widget(form.end_date) }}
        {% if form_errors(form.end_date) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form.end_date) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.rating) }}
        {{ form_widget(form.rating) }}
        {% if form_errors(form.rating) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form.rating) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.owner) }}
        {{ form_widget(form.owner) }}
        {% if form_errors(form.owner) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form.owner) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
{{ form_end(form) }}
