{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: right">
            <a class="btn btn-success" href="{{ path('rating_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
            </a>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-global">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Note</th>
                        <th>Commentaire</th>
                        <th>Date de publication</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for rating in ratings %}
                    <tr>
                        <td>{{ rating.id }}</td>
                        <td>{{ rating.rating }}</td>
                        <td>{{ rating.comment }}</td>
                        <td>{{ rating.publishDate ? rating.publishDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td class="actions">
                            <a class="btn btn-info" href="{{ path('rating_show', {'id': rating.id}) }}" style="width: 50%;display:inline;">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Voir
                            </a>
                            <a class="btn btn-primary" href="{{ path('rating_edit', {'id': rating.id}) }}" style="width: 50%;display:inline">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Modifier
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun commentaires trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: right">
            <a class="btn btn-success" href="{{ path('rating_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
            </a>
        </div>
    </div>
{% endblock %}
