{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <a class="btn btn-light" href="{{ path('user_index') }}">Retour</a>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="text-align: right">
            <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="text-align: right">
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ user.landline }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ user.description }}</td>
                    </tr>
                    <tr>
                        <th>Adresse actuelle</th>
                        <td>{{ user.addresses|first }}</td>
                    </tr>
                    {% if 'ROLE_ASSOC' in user.roles or 'ROLE_COMP' in user.roles %}
                        <tr>
                            <th>Manager</th>
                            <td>{{ user.managerLastName ~ " " ~ user.managerFirstName }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ user.status }}</td>
                        </tr>
                        <tr>
                            <th>Siret</th>
                            <td>{{ user.siret }}</td>
                        </tr>
                        <tr>
                            <th>Website</th>
                            <td><a href="{{ user.website }}">{{ user.website }}</a></td>
                        </tr>
                        <tr>
                            <th>Facebook</th>
                            <td><a href="{{ user.facebook }}">{{ user.facebook }}</a></td>
                        </tr>
                        <tr>
                            <th>Twitter</th>
                            <td><a href="{{ user.twitter }}">{{ user.twitter }}</a></td>
                        </tr>
                    {% endif %}
                    <tr>
                    {% if 'ROLE_ASSOC' in user.roles %}
                        {% set roles = 'Association' %}
                    {% elseif 'ROLE_COMP' in user.roles %}
                        {% set roles = 'Entreprise' %}
                    {% elseif 'ROLE_ADMIN' in user.roles %}
                        {% set roles = 'Admin' %}
                    {% elseif 'ROLE_USER' in user.roles %}
                        {% set roles = 'Utilisateur' %}
                    {% endif %}
                        <th>Roles</th>
                        <td>{{ roles }}</td>
                    </tr>
                    {% if user.createdAt|date('d/m/Y') != "30/11/-0001" %}
                        <tr>
                            <th>Créé le</th>
                            <td>{{ user.createdAt|date('d/m/Y à H:i') }}</td>
                        </tr>
                    {% endif %}
                    {% if user.updatedAt|date('d/m/Y') != "30/11/-0001"  %}
                        <tr>
                            <th>Modifié le</th>
                            <td>{{ user.updatedAt|date('d/m/Y à H:i') }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
